<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Implement_Facebook_login</servlet-name>
		<servlet-class>login.Implement_Facebook_loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Implement_Facebook_login</servlet-name>
		<url-pattern>/implement_facebook_login</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
	    <welcome-file>homepage.jsp</welcome-file>
	</welcome-file-list>
</web-app>
